<head>
<link rel="stylesheet" href="css/home.css">
</head>
<header class="mobile">
    
    <a href="/"><img class="img-logo mobile" src="images/logo.png" alt=""></a>
    <div class="input-group">
      <input type="text">
        <button class="btn-search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      
    </div>
    <a href="/carrito">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>
    <div class="menu-icon">
      <i class="fa-solid fa-bars"></i>
      <div>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
  </header>

  <header class="desk">
    <div class="top-header">
      <form action="">
        <input type="text" placeholder="Buscar">
        <button class="btn-search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <a href="/">
        <div class="logo">
          <img src="images/logo.png" alt="">
          <h1>Libres Libros</h1>
        </div>
      </a>
      <div class="opciones">
        <a href="/login">
          <button class="btn">Ingresar</button>
        </a>
        
        <a href="/carrito">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </div>
    </div>
    <nav class="navbar">
      <a class="item-select">Géneros</a>
      <a>Novedades</a>
      <a>Autores</a>
      <a>Contacto</a>
    </nav>
  </header>
