<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://kit.fontawesome.com/848249e791.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles_login.css">
    <title>Editar producto</title>
</head>
<body>
    <div class="back-button">
        <a type="link" href="/" id="back-arrow"><i class="fa-solid fa-arrow-left"></i> Inicio </a>
    </div>
    <form action="/products/{productId}" method="POST" class="formulario" enctype="multipart/form-data">
        <!-- Reemplaza {productId} con el ID real del producto que estás editando -->

        <h1>Editar producto</h1>
        <div class="contenedor">
            <!-- Agrega un campo oculto para almacenar el ID del producto -->
            <input type="hidden" name="product_id" value="{productId}">
            
            <!-- Repite la estructura del formulario de agregar productos con los campos prellenados -->
            <div class="input-contenedor">
                <i class="fa-solid fa-book icon"></i>
                <input type="text" name="name" placeholder="Título del libro" value="{nombre_actual_del_producto}">
            </div>
            <!-- Repite los demás campos del formulario con valores prellenados -->

            <!-- Añade un botón para actualizar el producto -->
            <input type="submit" value="Actualizar" class="button">
        </div>
    </form>
</body>
</html>
