<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://kit.fontawesome.com/848249e791.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles_login.css">
    <title>Editar producto</title>
</head>
<body>
    <div class="back-button">
        <a type="link" href="/" id="back-arrow"><i class="fa-solid fa-arrow-left"></i> Inicio </a>
        </div>
    <form action="" method="post" class="formulario">
        <h1>Editar producto</h1>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fa-solid fa-book icon"></i>
                <input type="text" name="titulo" placeholder="Título del libro">
            </div>
            <div class="input-contenedor">
                <i class="fa-solid fa-user-tie icon"></i>
                <input type="text" name="autor" placeholder="Autor">
            </div>
            <div class="input-contenedor">
                <i class="fa-solid fa-industry icon"></i>
                <input type="text" name="editorial" placeholder="Editorial">
            </div>
            <div class="input-contenedor">
                <i class="fa-solid fa-book-open icon"></i>
                <input type="number" name="paginas" placeholder="Cantidad de páginas">
            </div>

            <div class="input-contenedor">
                <i class="fa-solid fa-masks-theater icon"></i>
                <label for="genero" id="genero">Seleccionar género:</label>
                <select name="genero" id="genero">
                    <option value="ficcion">Ficción</option>
                    <option value="terror">Terror</option>
                    <option value="autoayuda">Autoayuda</option>
                    <option value="infantil">Infantiles</option>
                    <option value="policial">Policial</option>
                    <option value="historia">Historia</option>
                </select>
            </div>

            <div class="input-contenedor">
                <i class="fa-solid fa-dollar-sign icon"></i>
                <input type="number" name="precio" placeholder="Precio de venta">
            </div>
            <label>Seleccione imagen de portada:</label>
            <div class="input-contenedor">
                <input type="file" name="portada" accept=".jpg, .png, .jpeg">
            </div>
            <input type="submit" value="Agregar" class="button">
            <br>
            <p><a type="link" href="/create" class="link">Crear nuevo producto</a></p>
        </div>
    </form>
</body>
</html>