<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
    <script src="https://kit.fontawesome.com/25a3935e62.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="mobile">
        <img class="img-logo mobile" src="images/logo.png" alt="">
        <div class="input-group">
          <input type="text">
            <button class="btn-search">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          
        </div>
        <i class="fa-solid fa-cart-shopping"></i>
        <i class="fa-solid fa-bars"></i>
      </header>
      <!-- HEADER DESK -->
      <header class="desk">
        <div class="top-header">
          <form action="">
            <input type="text" placeholder="Buscar">
            <button class="btn-search">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
    
          <div class="logo">
            <img src="images/logo.png" alt="">
            <h1>Libres Libros</h1>
          </div>
          <div class="opciones">
            <button class="btn">Ingresar</button>
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
        </div>
        <nav class="navbar">
          <a class="item-select">Géneros</a>
          <a>Novedades</a>
          <a>Autores</a>
          <a>Contacto</a>
        </nav>
      </header>


      <main>

        <section class=main-producto-top>
            <h4 class="titulo-producto">Productos</h4>
        <article class=productos>
      <figure class=articulos>

        <div class="img-libro">
            <img src=imagesHarry-potter.jpg alt=Harry-potter>
        </div>
        
        <figcaption class="descripcion">
            <div>

                <p>Producto</p>
                <p>precio</p>

            </div>
  
          <form class="incremento">
              <button type="reset">Eliminar</button>
              <button type=submit>Guardar</button>
          </form>

        </figcaption>
        <label class="cantidad-producto">
          <button>-</button>3<button>+</button>
        </label>
      </figure>
      
        </article>
   
        </section>

        <section class="main-resumen">
            <h4>Resumen de compra</h4>
            <article>
                <div class="producto-envio">
                    <div class="detalle">
                        <p>producto</p>
                        <p>$31.000</p>
                    </div>
                    <div class="detalle">
                        <p>Envio</p>
                        <p>1.312</p>
                    </div>
                </div>


                <div class="total">
                    <p>total</p>
                    <p>123.152</p>
                </div>
                
                <button>Comprar</button>
            </article>
            

        </section>



      </main>
    
</body>
</html>