
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <!-- HEADER MOBILE -->
    <header
        class="mobile"
    >
        <img class="img-logo mobile" src="images/logo.png" alt="">
        <div
            class="input-group"
        >
            <input 
                type="text"
                
            >
            <button>
                <img src="images/search.svg"> 
            </button>
        </div>
        <img class="img-icon mobile"  src="images/carrito.svg"> 
        <img class="img-icon mobile"  src="images/menu.svg"> 
        
    </header>

<header
  class="desk"
  >
  <h5>Libres Libros</h5> 

  <h5>
    <input 
                type="text";
       <button>
                <img src="images/search.svg"> 
            </button>
 
  </h4>
  <nav>
    <h4>
      <li><a href="1">Acceder/registrar</a></li>
      <li><a href="2">Wishlist</a></li>
      <li><a href="3">Carrito</a></li>
    </u1>
     
        </div>
        <img class="img-icon desk"  src="images/carrito.svg"> 
        <img class="img-icon desc"src="images/menu.svg"> 
  </nav>
  <link rel="stylesheet" href="hola.css"
</header>
  
  <dive id="cuerpo">
    
<html lang:"en">
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <title>document</title>
</head>
<body>
  <h3>

  </h3>
  </h1>
</body>
<link rel= "stylesheet" href="hola.css"
</html>
  </dive>

</body>
</html>