<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/home.css">
</head>

<body>
  <!-- HEADER MOBILE -->
  <header class="mobile">
    <img class="img-logo mobile" src="images/logo.png" alt="">
    <div class="input-group">
      <input type="text">
      <button>
        <img src="images/search.svg">
      </button>
    </div>
    <img class="img-icon mobile" src="images/carrito.svg">
    <img class="img-icon mobile" src="images/menu.svg">

  </header>
  <!-- HEADER DESK -->
  <header class="desk">
    <div class="top-header">
      <form action="">
        <input type="text" placeholder="Buscar">
        <button class="btnsearch">
          <img src="images/search.svg">
        </button>
      </form>

      <div class="logo">
        <img src="images/logo.png" alt="">
        <h1>Libres Libros</h1>
      </div>
      <div class="opciones">
        <button class="btn">Ingresar</button>
        <div>
          <img src="images/carrito.svg" alt="">
        </div>
      </div>
    </div>
    <nav class="navbar">
      <a>Géneros</a>
      <a>Novedades</a>
      <a>Autores</a>
      <a>Contacto</a>
    </nav>
  </header>

</body>

</html>