<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/home.css">
  <script src="https://kit.fontawesome.com/25a3935e62.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- HEADER MOBILE -->
  <header class="mobile">
    <img class="img-logo mobile" src="images/logo.png" alt="">
    <div class="input-group">
      <input type="text">
        <button class="btn-search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      
    </div>
    <i class="fa-solid fa-cart-shopping"></i>
    <div class="menu-icon">
      <i class="fa-solid fa-bars"></i>
    </div>
  </header>
  <!-- HEADER DESK -->
  <header class="desk">
    <div class="top-header">
      <form action="">
        <input type="text" placeholder="Buscar">
        <button class="btn-search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <div class="logo">
        <img src="images/logo.png" alt="">
        <h1>Libres Libros</h1>
      </div>
      <div class="opciones">
        <button class="btn">Ingresar</button>
        <i class="fa-solid fa-cart-shopping"></i>
      </div>
    </div>
    <nav class="navbar">
      <a class="item-select">Géneros</a>
      <a>Novedades</a>
      <a>Autores</a>
      <a>Contacto</a>
    </nav>
  </header>
  <main>
    <h2>Destacados</h2>
    <section class="destacados">
      <article class="card">
        
      </article>
      <article class="card">
        
      </article>
      <article class="card">
        
      </article>
      <article class="card">
        
      </article>
      <article class="card">
        
      </article>
      <article class="card">
        
      </article>
      <article class="card">
        
      </article>
      <article class="card">
        
      </article>
    </section>
    <h2>Ultimas publicaciones</h2>
    <section class="destacados">
      <article class="card">
        
      </article>
      <article class="card">
        
      </article>
      <article class="card">
        
      </article>
      <article class="card">
        
      </article>
      <article class="card">
        
      </article>
      <article class="card">
        
      </article>
      <article class="card">
        
      </article>
      <article class="card">
        
      </article>
    </section>
  </main>
</body>

</html>