<!DOCTYPE html>
<html>
<head>
    <title>Detalle del Libro</title>
    <link rel="stylesheet" type="text/css" href="../css/product_detail.css">
</head>
<body>
    <div class="product-details">
        <h1 id="book-title">Título del Libro</h1>
        <img id="book-cover" src="" alt="Portada del Libro">
        <p id="book-author">Autor: Nombre del Autor</p>
        <p id="book-genre">Género: Género del Libro</p>
        <p id="book-publisher">Editorial: Nombre de la Editorial</p>
        <p id="book-publication-date">Fecha de Publicación: Enero 1, 2023</p>
        <p id="book-isbn">ISBN: 978-1234567890</p>
        <p id="book-pages">Número de Páginas: 300</p>
        <p id="book-price">Precio: $19.99</p>
        <button id="add-to-cart">Agregar al Carrito</button>
    </div>
    <div class="reviews">
        <h2>Reseñas de los lectores</h2>
        <div class="review">
            <h3>Reseña 1</h3>
            <p>Una reseña escrita por un lector satisfecho.</p>
        </div>
        <div class="review">
            <h3>Reseña 2</h3>
            <p>Otra reseña escrita por otro lector contento con el libro.</p>
        </div>
    </div>
    <a href="/home">Volver a la página principal</a>
    <script src="../js/product_detail.js"></script>
</body>
</html>
