<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Libro</title>
    <link rel="stylesheet" type="text/css" href="css/product_detail.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="https://kit.fontawesome.com/25a3935e62.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- header Mobil + desktop -->

    <%- include('partials/header.ejs') %>

    
        <article class="product-details">
            <h1 id="book-title" class="book-title">Título del Libro</h1>
            <figure class="figure-product">
                <img class="img-product" src="images/harry potter y el legado maldito.jpg" alt="Portada del Libro">
                <figcaption class="book-descripcion">
                    <div class="book-autor-title">
                        <p class="book-title-product">Harry Potter</p>
                        <p class="book-author">Autor</p>
                    </div>
                    <p class="book-price">$199.99</p>
                </figcaption>
            </figure>
            
            <div class="seccion-btn">
                <button type="submit" class="btn-carrito">Carrito</button>
                <div class="btn-increment">
                    <button type="button" class="btn-mas"><i class="fa-solid fa-plus"></i></button>
                    <p class="num-btn">3</p>
                    <button type="button" class="btn-menos"><i class="fa-solid fa-minus"></i></button>
                </div>
            </div>
            <div>
                <div class="info-product">
                    <p>Descripcion</p>
                    <p>Detalles</p>
                </div>
                <div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam ratione tempora dolores. Tempora tenetur, labore omnis recusandae harum fuga placeat exercitationem eaque doloremque. Fugiat nobis illo consectetur, corporis eaque hic?</p>
                </div>
            </div>
        </article>
        
    

    
    <div class="reviews">
        <h2>Reseñas de los lectores</h2>
        <div class="review">
            <h3>Reseña 1</h3>
            <p>Una reseña escrita por un lector satisfecho.</p>
        </div>
        <div class="review">
            <h3>Reseña 2</h3>
            <p>Otra reseña escrita por otro lector contento con el libro.</p>
        </div>
    </div>
    <a href="/">Volver a la página principal</a>

    <%- include('partials/footer') %>
    <!-- <script src="ruta_de_tu_js/product_detail.js"></script> -->
</body>
</html>
