@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

header.mobile {
    background-color: #23BFF2;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}



header.mobile input {
    width: 14rem;
    height: 2.5rem;
    border: none;
    border-radius: 2rem;
    outline: none;
    padding: 0 1rem;
}

.mobile .input-group {
    display: flex;

}

.mobile .input-group button {
    position: absolute;
    width: 1.5rem;
    background-color: transparent;
    border: none;
    right: .5rem;
    top: .5rem
}

.mobile .img-logo {
    max-width: 3rem;
}

.mobile .img-icon {
    max-width: 1.5rem;
}



@media (min-width: 750px) {
    header.desk {
        display: flex;
    }

    header.mobile {
        display: none;
    }
}

header.desk {
    background-color: white;
    display: flex;
    flex-direction: column;


}

.top-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1024px;
    margin: auto;
    align-items: center;


}

.desk.navbar {
    width: 100%;
}

.logo {
    width: 6rem;

}

.logo img {
    width: 100%;
}

.logo h1{
    font-size: 1rem;

}

.btn {
    text-align: center;
    background-color: #23BFF2;
    border: none;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 20px;
}

.desk form input {
    width: 14rem;
    height: 2.5rem;
    border: 1px solid #3d3d3d90;
    border-radius: 2rem;
    outline: none;
    padding: 0 1rem;  
    
}

.opciones {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}