@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    position: relative;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a {
    color: black;
}

header.mobile {
    background-color: #23BFF2;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}



header.mobile input {
    width: 14rem;
    height: 2.5rem;
    border: none;
    border-radius: 2rem;
    outline: none;
    padding: 0 1rem;
}

.mobile .input-group {
    display: flex;

}

.btn-search {
    position: absolute;
    width: 1.5rem;
    background-color: transparent;
    border: none;
    right: .9rem;
    top: .5rem
}

.mobile .img-logo {
    max-width: 3rem;
}

.fa-solid {
    font-size: 1rem;
}

a .fa-solid {
    color: black;
}

.btn i { 
    color: white;
}


.logo {
    color: black;
    font-style: italic;
}

header.desk {
    background-color: white;
    display: none;
    flex-direction: column;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
    z-index: 10;
}






.top-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1024px;
    padding: 0 2rem;
    margin: auto;
    align-items: center;


}

.desk.navbar {
    width: 100%;
}

.logo {
    width: 6rem;

}

.logo img {
    width: 100%;
}

.logo h1 {
    font-size: 1rem;

}

.btn {
    text-align: center;
    background-color: #23BFF2;
    border: none;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 20px;
    transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn:hover {
    cursor: pointer;
    background-color: #1e9ac4;
}

.desk form input {
    width: 14rem;
    height: 2.5rem;
    border: 1px solid #3d3d3d90;
    border-radius: 2rem;
    outline: none;
    padding: 0 1rem;

}

.desk form img {
    width: 1.5rem;
}

.opciones {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.opciones img {
    width: 1.5rem;
}

.btn-search {
    position: absolute;
    right: .5rem;
    top: .75rem;
    border: none;
}

.navbar {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin: .5rem auto 0;
    width: 100%;
    max-width: 1024px;
    z-index: 1;
    height: 3rem;
}

.navbar a {
    padding: .5rem 1rem;
    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    border-radius: 30px;
}

.navbar a:hover {
    z-index: 0;
    background-color: #23BFF2;
    color: white;
    cursor: pointer;
}


section {

    display: flex;
    width: 100%;
    max-width: 1024px;
    flex-wrap: nowrap;
    margin: 3rem auto;
    gap: 1rem;
    overflow: scroll;
    padding: 1rem 1rem;
}

section::-webkit-scrollbar {
    display: none;
}

h2 {
    text-align: center;
    margin: 1rem;
}

.card {
    width: 200px;
    min-width: 10rem;
    padding: 0;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    border: 1px solid #3d3d3d65;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

.card img {
    height: 250px;
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

.info-card {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.card h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card .btn{
    padding: .5rem 0;
    width: 100%;
    margin-top: 1rem;
}

footer {
    /* background-color: #23BFF2; */
    box-shadow: 0px -6px 12px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.listas {
    width: 100%;
}


.listas li {
    margin: .5rem 0;
}

footer .logo {
    width: 6rem;
    margin: 0 auto;
}


footer .redes {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.redes .fa-brands{
    font-size: 1.5rem;
}


/* CARRUSEL */
.carrusel {
    width: 100%;
    z-index: 0;
}

.contenedor-carrusel {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flechas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flechas a {
    background-color: #00000094;
    aspect-ratio: 1/1;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    border-radius: 100%;
}


/* SECCION CARRITO */

.main-producto-top {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: solid;

}

.titulo-producto {
    position: relative;
    right: -40px;
    top: 38px;
}

.productos {
    width: 90vw;
    height: 200px;
    display: flex;
}

.descripcion{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


label.cantidad-producto {
    display: flex;
    justify-content: center;
    align-items: start;
}


.img-producto{
    width: 36vw;
    height: 40vw;
}


/* main-resumen */
.main-resumen {
    display: flex;
    flex-direction: column;
}

.producto-envio {
    display: flex;
    flex-direction: column;
    border-bottom: solid 0.1rem;
    padding-bottom: 10px;
}

.resumen-compra{
    border: solid #23BFF2;
    background: #23BFF2;
    border-radius: 0.4rem 0.4rem 0 0;
    text-align: center;
    font-size: 1.1rem;
    position: relative;
    top: 14px;
    color: #fff;
}

.resumen-compra-total{ 
    padding: 10px;
    border: solid 0.1rem;
    border-radius: 0 0 0.4rem 0.4rem;
}

.text-resumen{
    font-weight: 600;
}


.detalle,
.total {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.detalle{
    padding-bottom: 10px;
}

.contenedor-btn{
    text-align: center;
}
.btn-compra{
    border: solid #23BFF2;
    background: #23BFF2;
    color: white;
    border-radius: 1rem;
    font-size: 1.2rem;
    width: 50%;
}

.main-carrito{
    display: block;
}

@media (min-width: 562px) {


    section {

        display: flex;
        width: 100%;
        max-width: 1024px;
        flex-wrap: wrap;
        overflow: scroll;
    }

    .card {
        width: calc(50% - 1rem);
        min-width: 150px;
    }

    footer .listas {
        display: flex;
        gap: 2rem;
        width: auto ;
    }

    footer .logo {
        margin: 0;
    }
}



/* Seccion de carrito */
/* .main-carrito{
    display: flex;
} */


.main-resumen{
    display: flex;
    flex-direction: column;
    width: 80%;
}


@media (min-width: 750px) {
    header.desk {
        display: flex;
    }

    header.mobile {
        display: none;
    }

    .card {
        width: 22%;
        min-width: 150px;
    }

    section {
        flex-wrap: wrap;
    }
    .contenedor-carrusel {
        width: 100%;
        height: 600px;
        overflow: hidden;
    }
}