


.product-details {
    text-align: left; 
    margin: 20px;
    padding: 20px;
    border: 1px solid #3d3d3d65; 
    border-radius: 10px; 
    background-color: #ffffff; 
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); 
}


.product-details h1 {
    color: #1a2537;
    font-size: 2rem;
    margin-bottom: 20px;
    max-width: 620px;
    text-align: center;
    min-width: 1.4rem;
}

/* ajustes en la figure */

.figure-product{
    display: flex;
    gap: 15px;
}


/* titulo del producto e imagen  */

.book-title{
    text-align: center;
}

.img-product{
    width: 150px;
    min-width: 80px;
    max-width: 620px;
}

/* book de los parrafos */

.book-descripcion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.book-title-product{
    font-weight: 600;
    font-size: 1rem;
}

.book-author{
    font-size: 0.8rem;
    color: #9e9ea1;
}

/* botones */

.seccion-btn{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.btn-increment{
    display: flex;
    border: solid 0.1rem #576476;
    border-radius: 1rem;
    align-items: center;
    gap: 10px;
    padding: 0.3rem;
    background: #23bff2;
    color: white;
}

.btn-mas,.btn-menos{
    background-color: #23bff2;
    outline: none;
    border: solid 0.1rem #23bff2;
    /* border-radius: 1rem; */
    padding: 0.5rem;
    cursor: pointer;
    color: white;
}

.btn-carrito{
    border: solid 0.1rem #576476;
    border-radius: 1rem;
    padding: 1.1rem;
    background: #23bff2;
    color: white;
    font-size: 0.9rem;
}


/* informacion del producto */

.info-product{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    gap: 91px;
    border-bottom: solid 1px;
    margin-bottom: 10px;
}




 @media (min-width:620px){





}

@media (min-width: 768px) {
    .product-details {
        margin: 2rem auto;
        max-width: 900px;
    }

    
} 
