/*COLOR: #23BFF2*/
/*FONT: POPPINS*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Roboto&display=swap');


* {
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: url(../images/background.png), rgba(0, 0, 0, 0.384);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}


.contenedor {
    width: 100%;
    padding: 15px;
}

.formulario {
    background-color: white;
    margin: auto;
    max-width: 500px;
    margin-top: 100px;
    border-radius: 2%;
    padding: 3px;
}

h1 {
    text-align: center;
    color: #000;
    font-size: 2rem;
    font-weight: bolder;
}

/* input[type="email"],
input[type="password"] { */
input {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

input[type="checkbox"] {
    font-size: 20px;
    margin-top: 15px;
    width: auto;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.redirect-login {
    text-decoration: none;
    color:black;
}

.redirect-login:hover {
    color:#23BFF2;
}

button {
    display: block;
    width: 96%;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background-color: #23BFF2;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: lightskyblue;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #23BFF2;
    font-weight: 600;
}

.link:hover {
    color: lightskyblue
}

input:invalid {
    background-color: #f7adad2e;
}

.error-message {
    display: none;
    color: red;
    font-size: 10px;
    margin-left: 5px;
}

input:invalid+.error-message {
    display: block;
}

#back-arrow {
    color: white;
    text-decoration: none;
    align-self: flex-end;
    margin-left: 50px;
}
.back-button{
    display: flex;
    width: auto;
    height: 50px;
}

/*MEDIA QUERIES*/
/* @media(min-width:992px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
} */